#header {
    width: 100%;
    height: 100px;
    background-color: #4d7bd1;
}

#main{
    display: flex;
}

#sidebar {
    width: 300px;
    height: 400px;
    background-color: #7239bd;
}

#content {
    width: calc(100% - 300px);
    height: 400px;
    background-color: #36cc7a;
}

#footer {
    width: 100%;
    height: 150px;
    background-color: #ca49b9;
}