#page {
    width: 100%;
    display: flex;
}

#sidebar {
    width: 300px;
    height: 900px;
    background-color: #6e8132;
}

#main{
    width: calc(100% - 300px);
}

#header {
    height: 150px;
    background-color: #31817e;
}

#content {
    height: 600px;
    background-color: #2c4470;
}

#footer {
    height: 150px;
    background-color: #6d2f73;
}