#header {
    width: 100%;
    height: 100px;
    background-color: #4dd1a9;
}

#main{
    display: flex;
}

#sidebar {
    width: 300px;
    height: 400px;
    background-color: #171144;
}

#content {
    width: calc(100% - 300px);
    height: 400px;
    background-color: #641c94;
}

#footer {
    width: 100%;
    height: 150px;
    background-color: #549eed;
}