#header {
    height: 150px;
    background-color: #6b0d0d;
}

#container {
    display: flex;
}

#sidebar {
    width: 300px;
    height: 750px;
    background-color: #060c41;
}

#main{
    width: calc(100% - 300px);
}

#content {
    height: 600px;
    background-color: #5b0539;
}

#footer {
    height: 150px;
    background-color: #00172f;
}